<h1>Room :<%= @room.name %></h1>
<p id="notice"><%= notice %></p>

<ul id="chat" class="message-list">
  <%= render @room.messages %>  
</ul>

<% if user_signed_in? then %>
<%= form_for(Message.new, remote: true) do |f| %>
 <%= f.hidden_field :room_id, :value=>@room.id %>
 <span><%= current_user.name %></span>
 <%= f.text_field :content %>
 <%= f.submit "send" %>
<% end %>
<% else %>
<p>Please <%= link_to 'sign-in', :controller=>'devise/sessions', :action=>:new %> if you want to join this chat room</p>
<% end %>

<%= subscribe_to "/room/#{@room.id}/messages/new" %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
